<form action="/">
  <div class="form-group">
    <label for="side1">Side1</label>
    <input id="triangle" name="side1" class="form-control" type="text">
    <label for="side2">Side2</label>
    <input id="triangle" name="side2" class="form-control" type="text"><label for="side3">Side3</label>
    <input id="triangle" name="side3" class="form-control" type="text">
  </div>
  <br>
  <button type="submit" class="btn">Submit!</button>
</form>

<p>The result is <%= @result %></p>